# Root level .gitignore for a Node.js project
node_modules

# Frontend specific ignores
packages/frontend/node_modules
packages/frontend/.DS_Store
packages/frontend/dist
packages/frontend/dist-ssr
packages/frontend/*.local

# Backend specific ignores
packages/backend/node_modules
packages/backend/.DS_Store
packages/backend/dist
packages/backend/dist-ssr
packages/backend/*.local