# Root level .gitignore for a Node.js project
node_modules

# Frontend specific ignores
packages/frontend/node_modules
packages/frontend/.DS_Store
packages/frontend/dist
packages/frontend/dist-ssr
packages/frontend/*.local
packages/frontend/.env

# Backend specific ignores
packages/backend/node_modules
packages/backend/.DS_Store
packages/backend/dist
packages/backend/dist-ssr
packages/backend/*.local
packages/backend/.env
packages/frontend/src/routeTree.gen.ts

# Orchestrator specific ignores
packages/orchestrator/src/data
packages/orchestrator/node_modules
packages/orchestrator/terraform/.terraform
packages/orchestrator/terraform/.terraform.lock.hcl
packages/orchestrator/terraform/*.tfstate
packages/orchestrator/terraform/*.tfstate.*
packages/orchestrator/terraform/*.tfvars
packages/orchestrator/terraform/*.tfvars.*

# vscode settings
.vscode/settings.json